{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="p-5 m-5">
        <div class="col-lg-6 mx-auto border rounded p-4">
            <h3 class="alert alert-light border rounded">Create An Account</h3>
            <form action="/signup" method="POST">
            {% csrf_token %}
            {% if error %}
              <div class="alert alert-danger" role="alert">
                {{error}}
              </div>
            {% endif %}
            <!-- First name -->
            <div class="form-group ">
                <label for="" >First Name</label>
                <input required type="text" 
                name="Firstname" 
                id="" value="{{values.first_name}}"
                class="form-control form-control-sm">
              </div>
            <!-- LastName -->
            <br>
            <div class="form-group" >
                <label for="">Last Name</label>
                <input required type="text" 
                value="{{values.last_name}}"
                name="lastname" id="" 
                class="form-control form-control-sm">
              </div>
            </br>
            <!-- phone number -->
            <br>
            <div class="form-group">
                <label for="">Mobile Number</label>
                <input required type="text" 
                value="{{values.phone}}"
                name="phone" id="" 
                class="form-control form-control-sm"
                placeholder="0000000000">
              </div>
            </br>
                <!-- email -->
            <br>
            <div class="form-group">
              <label for="">Email</label>
              <input required type="email" 
              value="{{values.email}}"
              name="email" id="" 
              class="form-control form-control-sm" 
              placeholder="abc@gmail.com">
            </div>
            </br>
            <!-- password -->
            <br>
            <div class="form-group">
                <label for="">Password</label>
                <input required type="password" 
                name="password" id="" 
                class="form-control form-control-sm" 
                placeholder="*********">
              </div>
            </br>
            
            <br>
            <div class="form-group">
                <input class="btn btn-sm btn-info" type="submit" value="Create An Account">
            </div>
            </br>
            
            </form>
        </div>

    </div>
</div>

{% endblock %}